* {
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0 2rem 0 2rem;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.directories {
    display: flex;
    gap: 50px;
}

.nav-btn {
    display: flex;
    gap: 30px;
    align-items: center;
}

.order-button{
    padding: 5px 10px;
    border: black solid 1px;
    background-color: bisque;
    cursor: pointer;
}

.cart-button {
    padding: 5px 10px 3px 12px;
}

hero {
    height: 100vh;
}

.hex {
    width: 300px;
    height: 200px;
}


.custom-shape h1 {
    align-items: center;
    text-align: center;
}