* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #F4EBE7;
}

/* Navbar */

nav {
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    list-style: none;
    text-decoration: none;
    font-family: chewy;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #331813;
}

/* nav links */

.links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.links li a {
    text-decoration: none;
    display: block;
    padding: 8px 0;
    height: 100%;
    font-size: 1.06rem;
    font-weight: 500;
    color: black;
}

/* nav buttons */

.btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btns a {
    color: black;
    text-decoration: none;
}

.order-now-btn {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: bisque;
}

.cart-btn {
    padding: 5px 10px 3px 12px;
    background-color: lightgray;
    border: 1px solid black;
}

/* main content */

.about {
    padding-top: 2rem;
    height: 100vh;
}

.shape1 {
    height: 475px;
    margin: 0 3%;
    background-color: white;
    clip-path: shape(from 3% 0%,
            line to 97% 0%,
            line to 100% 50%,
            line to 97% 100%,
            line to 3% 100%,
            line to 0% 50%,
            close);
}

/* Shape title */

.shape1 h1 {
    font-family: chewy;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 1rem;
    text-align: center;
    color: #331813;
}

/* Details */

.para {
    position: absolute;
    top: 245px;
    left: 175px;
    width: 250px;
}

.para p {
    font-size: 1.5rem;
    font-weight: 500;
}

.order-btn {
    background-color: burlywood;
    border: black solid 1px;
    padding: 13px 15px;
    border-radius: 20px;
}

.img {
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
    position: absolute;
    left: 50%;
    top: 35%;
    translate: -50% 0;
}

.img-cont {
    height: 400px;
}

.img-cont img {
    width: 100%;
}

/* Popular content */

.popular {
    margin-bottom: 3rem;
}

.shape2 {
    padding: 3rem 1rem;
    margin: 0 3%;
    background-color: white;
    clip-path: shape(from 50% 0%,
            line to 100% 5%,
            line to 100% 95%,
            line to 50% 100%,
            line to 0% 95%,
            line to 0% 5%,
            close);
}

.shape2 h1 {
    font-family: chewy;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #331813;
}

.shape2 h6,
a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding-top: 3rem;
    transition: color 0.2s ease;
}

.shape2 h6 :hover {
    color: blue;
    text-decoration: underline;
}

/* Grid box for popular item */

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 370px);
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.item-card {
    justify-items: center;
    align-items: center;
    background-color: #FFF7EA;
    padding: 2rem 1rem;
    margin-top: 3rem;
}

.item-card-img {
    height: 200px;
}

.item-card-img img {
    width: 100%;
    height: 100%;
}

.item-card-details {
    justify-items: center;
    align-items: center;
    line-height: 30px;
    padding: 1rem;
}

.item-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2px;
}

.item-details {
    height: 35px;
    padding: 0 10px;
    border: black solid 1px;
    background-color: yellow;
    cursor: pointer;
    transition: color 0.3s ease;
}

.item-details:hover {
    background-color: rgb(255, 255, 128);
}

.item-cart {
    height: 35px;
    padding: 0 10px;
    border: black solid 1px;
    background-color: orange;
    cursor: pointer;
    transition: color 0.3s ease;
}

.item-cart:hover {
    background-color: rgb(255, 192, 74);
}

/* Popover details */

[popover] {
    position: fixed;
    inset: 0;
    margin: auto;
    width: min(320px, 90vw);
    border: none;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .2);
    transition: all 0.3s ease;
}

[popover]::backdrop {
    background: rgba(0, 0, 0, .08);
    backdrop-filter: blur(2px);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 5%;
    background: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
}

.brand-footer {
    font-family: chewy;
    font-size: 3rem;
    font-weight: 700;
    color: #331813;
}

.footer-kanan p {
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-kanan-span {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 20px;
}