* {
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0 2rem 0 2rem;
    background-color: beige;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-family: chewy;
    font-size: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.directories {
    display: flex;
    gap: 50px;
}

.nav-btn {
    display: flex;
    gap: 30px;
    align-items: center;
}

.order-button{
    padding: 5px 10px;
    border: black solid 1px;
    background-color: bisque;
    cursor: pointer;
}

.cart-button {
    padding: 5px 10px 3px 12px;
}

.hero {
    height: 100vh;
}

text {
    font-family: chewy;
    font-size: 23px;
}

.hero p {
    font-size: 23px;
    position: absolute;
    top: 245px;
    left: 250px;
    width: 230px;
}

.order-main {
    position: absolute;
    left: 250px;
    top: 470px;
    background-color: burlywood;
    border: black solid 1px;
    padding: 13px 15px;
    border-radius: 20px;
}

.order-main a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.items-carousel {
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
    position: absolute;
    left: 41%;
    top: 35%;
}

.ic-cont {
    height: 400px;
}

.ic-cont img {
    width: 100%;
}

.subhero {
    position: relative;
    height: 100vh;
}

.index-item-col {
    position: absolute;
    inset: 0;
    margin: 0 5rem 0 5rem;
    display: grid;
    grid-template-columns: repeat(3,400px);
    gap: 50px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.index-item {
    justify-items: center;
    align-items: center;
    background-color: aliceblue;
    padding: 2rem;
}

.index-item-details {
    justify-items: center;
    align-items: center;
}

.index-item-button {
    display: flex;
    gap: 20px;
    justify-content:center;
    align-items: center;
}


[popover] {
    position:fixed;
    inset:0;
    margin:auto;
    width:min(320px, 90vw);
    border:none;
    border-radius:16px;
    padding:20px;
    box-shadow:0 20px 50px rgba(0,0,0,.2);
    transition: all 0.3s ease;
}

[popover]::backdrop {
    background: rgba(0,0,0,.08);
    backdrop-filter: blur(2px);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.brand-footer {
    font-family: chewy;
    font-size: 23px;
}

.footer-kanan-span {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.footer-kanan h2{
    font-size: 30px;
}